.input_container {
  position: relative;
  font-family: BlinkMacSystemFont;
}

.label {
  position: absolute;
  margin: 0 5px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 2px;
  color: var(--light-pur);
  transition: 0.2s;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.inp {
  border: 1px solid var(--light-pur);
  border-radius: 5px;
  background-color: transparent;
  width: 200px;
  color: var(--black-color);
  padding: 0.5rem 1rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  -webkit-text-fill-color: #000 !important;
}

.inp:focus {
  outline: none;
}

.input_container input:focus + .label,
.input_container input:not(:placeholder-shown) + .label {
  top: 0;
  font-size: 12px;
  z-index: 1;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.inp:focus + .label {
  color: var(--accent-color);
}
.inp:focus {
  border-color: var(--accent-color);
}
