.hero {
  width: 100%;
  padding: 2rem 0;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 300px;
}

.hero__text {
  width: 896px;
  text-align: center;
  font-size: 24px;
  font-family: var(--headline-font);
}

.hero__btn {
  max-width: 120px;
  max-height: 45px;
  background-color: var(--accent-color);
}
.hero__btn:hover{
  background-color: #8d55ee;
  transition: 0.4s;
}

