.hero {
  width: 100%;
}

.hero__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 300px;
}

.hero__text {
  width: 896px;
  text-align: center;
  font-size: 24px;
}

.hero__btn {
  max-width: 120px;
  max-height: 45px;
  background-color: var(--accent-color);
}

