.reasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-pur);
}

.reasons__btn {
  margin-top: 3rem;
  font-family: var(--headline-font);
  font-size: var(--headline-weight);
  font-size: 25px;
  width: 195px;
  height: 70px;
  background-color: var(--accent-color);
  border-radius: 15px;
}
