header {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
}

.header1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background-color: var(--light-pur);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}



.header__logo {
  width: 65px;
  height: 82px;
}

.hero {
  width: 100%;
  height: 200px;
}
