header {
  width: 100%;
  height: 100px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.hero {
  width: 100%;
  height: 200px;
}
