header {
  width: 100%;
  height: 100px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}

.header__logo {
  width: 65px;
  height: 82px;
}

.hero {
  width: 100%;
  height: 200px;
}
