.footer {
  background: linear-gradient(
    to top,
    var(--light-blue) 70%,
    var(--light-pur) 100%
  );
  height: 450px;
  width: 100%;
  display: flex;
  align-items: center;
}


.footer__inner {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__logo {
  display: flex;
  align-items: start;
}

.footer__logo h3 {
  font-family: var(--headeline-font);
}

.footer__socials {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3rem;
}

.footer__socials a {
  font-family: var(--headline-font);
  font-weight: var(--headline-weight);
  font-size: 16px;
  color: white;
}
.footer__socials a:hover {
  color: var(--accent-color);
  transition: 0.5s;
}
