.getFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.getFile__headline {
  width: 80%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.getFile__welcomeTitle {
  font-size: 24px;
  text-align: center;
}

.getFile__headline p {
  text-align: center;
}

.getFile__form {
  border-radius: 15px;
  width: 700px;
  height: auto;
  padding: 2rem 0;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.getFile__fileName {
  color: black;
}

.getFile__actions {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.getFile__actionsGenerate {
  width: 295px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.getFile__btn {
  color: var(--black-color);
  width: 295px;
  height: 90px;
  border-radius: 15px;
  border: none;
  font-family: var(--headline-font);
  cursor: pointer;
}

.getFile__btnAi {
  font-size: 24px;
  position: relative;
  display: inline-block;
  background: linear-gradient(90deg, #b57cff 0%, #9ecbff 100%);
}



.getFile__quizzOptions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.getFile__numberQuiz {
  color: var(--black-color);
  font-size: 12px;
  width: 130px;
  height: 45px;
  background: none;
  border: 1px solid var(--blue-color);
  border-radius: 8px;
}

.getFile__typeQuiz {
  width: 115px;
  background-color: var(--blue-color);
  border-radius: 8px;
  border: none;
}



.quizzes {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.getFile__resultsBtn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 15px;
  background-color: var(--blue-color);
  width: 200px;
  font-size: 18px;
  cursor: pointer;
}

.getFile__containerResults {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #22c55e;
}

.getFile__results {
  color: white;
  margin: auto;
  font-size: 32px;
  text-align: center;
}
