@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+15&family=Kaushan+Script&family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Pacifico&family=Playwrite+MX+Guides&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Satisfy&family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  padding: 0;
  margin: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* --primary-color: #2563EB; */
  --accent-color: #7C3AED;
  --light-pur: #c7adf5;
  --light-blue: #7a9ff1;
  --blue-color: #60A5FA;
  --background-color: #F9FAFB;
  --black-color: #111827;
  --grey-color: #EAEAEA;
  --card-color: #fff;
  --gradient-color: linear-gradient(var(--light-blue), var(--light-pur));
  --headline-font: "Outfit", sans-serif;
  --headeline-weight: 400;
  --text-font: "Montserrat", sans-serif;
  --text-weight: 400;
}


* {
  padding: 0;
  margin: 0;
}


.success {
  color: green;
}

.error {
  color: red;
}

.alert-message {
  color: orange;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



/* ================================= */
.main-background {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.general-background-header-hero {
  background: linear-gradient(var(--light-pur), var(--light-blue));
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
